*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: roboto; 
     
}
:root{
   
    --primary-color: rgb(97, 76, 201);
    --botton-color: var(var(--primary-color));
    --text-color: gray;
    --dark-background-color: rgb(23, 20, 40)
}
 /* .dark-theme{
    background-color: var(--dark-background-color) ;
    color: aliceblue;
  } */