header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    height: 60px;
    background-color: white;
    /* background-color: var(--dark-background-color); */
   }
  .hr-vr-center {
     display: flex;
    justify-content: space-around;
    align-items: center;
  }

  header a:hover{
    color: var(--primary-color);
  }
  .active-link{
    color: var(--primary-color);
   }
  .nav-menue {
    width: 35%;
  }
 .nav-link{
    text-decoration: none;
    color: black;
  }
