.skill i {
    display: none;
    color: var(--primary-color)
}
/* preventing child elements from responding to parent's event */
.skill i,.skill span{
         pointer-events: none;   
 }
.skill:hover{
    display: none;
}

.btn-theme {
  position: fixed;
  right: 5rem;
  top: 1.4rem;
 }
 .btn-theme:hover {color: var(--primary-color);

 }
 .fa-sun{
    color: black
 }
 .fa-moon{
    color: black
 }
 .fa-bars{
   position: fixed;
   top: 1.45rem;
   left: 1rem;
   color: black;
 }