 

section{
    width: 75%;
    border: 1px solid gray;
    margin: 0 auto;
    /* border: 1px solid white; */
}

 /* home styles */
 #home{
    height: 100vh;
    padding: 140px 0;
    }
.home-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
 
.myphoto{
     width: 300px;
     border-radius: 50%;
}
.vertical-bar{
    width: 5px;
    background-color: var(--primary-color);
    height: 300px;
    color: var(--primary-color);
 
}
.my-name{
     font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 8px;
}
.career-status,.career-desc{
   color: gray; 
   font-size: 1rem;
}
.career-status{
margin-bottom: 1rem;
}
.career-desc{
  margin-bottom: 4rem ;
}
.btn-link{ 
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding:  0.8rem 2rem;
}


/* about me styles */
#about{
    padding-top:  100px;
}
.about-grid{
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 6fr;
} 
 
.about-me{
    width: 300px;  
}
.my-introduction, .My-Bio{
color: var(--text-color);
line-height: 16px;
}
.My-Bio{
    font-size: 0.8rem ;
}

/* skills styles */
#skills{
    padding-top:  100px;

}
.skills-container {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    border: 1px solid var(--primary-color);
    position: relative;
  }
  .skill {
    background-color: rgb(97, 76, 201);
    color: white;
    padding: 10px 1rem;
    border-radius: 6px; 
    margin: 6px 9px;
    cursor: pointer;

  }



  /* education stlye  */
  #education{
    padding-top:  100px;
}

  .education-path {
    width: 60%;
    margin: 1rem auto;
  }
  .education-data {
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
   }
  .education-type{
    text-align: center;
    margin-bottom: 0.4rem;
    color: var(--primary-color);
  }
  .education-place{
    margin-bottom: 1.2rem;
    font-size: 0.9rem;

  }
  .education-date{
    font-size: 0.8rem;
    color: gray;
    display: flex; 
    justify-content: center;
   }
  .education-round {
    width: 15px;
    height: 15px;
    border-radius: 13px;

    background-color: var(--primary-color);
  }
  .education-line {
    width: 1px;
    height: 100%;
    border-left: 2px solid var(--primary-color);
  }
  .time-line {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 /* project stles... */
 #projects{
  padding-top: 100px ;
 }
 .project {
  display: flex;
  align-items: center;
 }
.thumbnail-container{
margin-top: 1.5rem;
width: 400px;
height: 200px;
  }
.project-thumbnail {
    width:  100%;
    max-height: 100%;
   }
 .about-project{
  margin-left: 2rem;
 }
 .project-desc{
  margin-bottom: 2rem;
 }
 .project-link{
  background-color: var(--primary-color);
  color: white;
  padding: 0.4rem 1rem;
  text-decoration: none;
  }
.pagination-container{
  display: flex;
  justify-content: center;
  gap: 4px;
 }
 .swipper{
  margin-top: 1rem;
  font-size: 20px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
 }


 