 
@media only screen and (max-width: 1100px) {
 
  section{
        width: 80%;
       }
}
@media only screen and (max-width: 1000px) {
 
    section{
        width: 95%;
       }
    
}
@media only screen and (max-width: 885px) { 
   
    .myphoto{
        width: 200px;
        margin-right: 0.5rem;
        }
        .vertical-bar{
        height: 200px   
       }
}
@media only screen and (max-width: 669px) { 
  
    .myphoto{
        width: 180px;
        margin-right: 0.5rem;
    }
    .vertical-bar{
      width: 3px;
      height: 180px;

    }
    .my-name{
        margin-top: 1.6rem;
    }
  
  .btn-link{
    display: none;
    }
    .about-grid{
    display: flex;
    flex-direction: column;

    }
    #about{
        padding-top:  200px;
    }
}

@media only screen and (max-width: 570px) { 
    .home-container{
        flex-direction: column;
    }
    .photo-container{
        display: flex;
      justify-content:center ;
     }
    .my-name{
        font-size: 1.5rem;
    }
    .my-name,.career-status,.career-desc{
        text-align: center;
        width: 100%;
    }
    .myphoto{
        width: 50%;
     
        margin-bottom: 0.5rem;
    }
    .vertical-bar{
        display: none;
    }
    #about{
        padding-top:  200px;
    }
    .about-grid{
    display: flex;
    flex-direction: column;

    }
 
}
@media only screen and (orientation: portrait) {
    body {
     }
    #home{
        height: unset;
     }
     #about,#skills,#education,#projects{
        padding-top: unset;
     }

    
     .skills-container{
        justify-content: center;
    }
  
       header  {
        display: none;

       }
       .fa-bars {
        display: block;
       }  
  }
/* Small devices (portrait tablets and large phones, 600px and up) */

/* Medium devices (landscape tablets, 768px and up) */


/* Large devices (laptops/desktops, 992px and up) */


